.board {
    min-width: 290px;
    width: 290px;
    max-height: 100%;
    flex-basis: 290px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(131, 130, 128);
    border-radius: 10px;
}

.board_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board_header_title {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    gap: 5px;
    align-items: center;
}

.board_header_title span {
    color: rgb(145, 145, 145);
}

.board_header_title_more {
    cursor: pointer;
    position: relative;
}

.board_dropdown {
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
    padding: 20px;
    width: 150px !important;
    cursor: default;
}

.board_dropdown p {
    border-bottom: 1px solid #2b2a2a;
    cursor: pointer;
}

.board_cards {
    background-color: #858383;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.board_add-card {
    background-color: #676666;
    color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: center;
}

.board_add-card_edit {
    background-color: #5a5959;
    border-radius: 10px;
    padding: 10px;
}