.parentNav {
    display: flex;
    max-width: auto;
    justify-content: space-between;
    margin-right: 10%;
    padding: 10px;
    height: 50%;
    border: solid 1px grey;
    background-color: rgb(63, 62, 62);
    color: rgb(236, 239, 240);
    margin-right: 0px;
}

.star {
    margin-right: 20px;
    margin-top: 2px;
    font-weight: bold;
}

.leftComponent {
    display: flex;
}

.board {
    width: fit-content;
    border: 1px solid rgb(236, 239, 240);
    background-color: rgb(236, 239, 240);
    font-weight: bolder;
    border-radius: 2px;
    color: rgb(65, 62, 62);
    padding: 4px;
}

.downArrow {
    font-weight: bold;
    font-size: x-large;
    margin-left: 5px;
    margin-top: 5px;
    color: rgb(236, 239, 240);
}

.homeTask {
    margin-right: 20px;
    font-weight: bolder;
    font-style: normal;
    margin-top: 2px;
}

.workspace {
    margin-right: 20px;
    font-style: calc();
    font-weight: 500;
    margin-top: 2px;
}

.rightComponent {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    font-weight: bold;
}

.rightChild {
    margin-right: 20px;
    margin-top: 3px;
}

.profile {
    width: 30px;
    border: 1px solid rgb(236, 239, 240);
    border-radius: 30px;
    background-color: aquamarine;
    color: rgb(48, 44, 39);
    padding: 5px;
}