.MainDiv {
  background-color: rgb(229, 238, 135);
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upperdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -100px;
}

.upperdiv input {
  height: 25px;
 
  border-radius: 10px;
}

.upperdiv h5 {
  align-self: flex-start;
  margin-top: 2px;
  
}

.upperdiv h3 {
  align-self: flex-start;
  margin-top: 0px;
  
}

.upperdiv a {
  cursor: pointer;
  text-decoration: underline;
}

.editordiv {
  padding: 10px;
  border-radius: 0;
  width: 300px;
}
